<div class='console' id='console'>
    <div class='command-input-wrapper'>
        <div class='input-wrapper command-input'>
            <input id='file-search' class='input icon full-width'>
            <label for='file-search' class='fas fa-angle-double-right icon' aria-hidden='true'></label>
        </div>
    </div>
    <div class='output'>
    </div>
</div>
