<div class='panel' id='panel'>
    <div id='drawer' class='panel-drawer'>
        <button class="tab btn"> Editor </button>
        <button class="tab btn"> Console </button>
    </div>
    <div class='panel-grid'>
        @!component('../components/editor')
        @!component('../components/file-tree')
    </div>
</div>
