<label>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>

    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>

    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
    Selection style
    <select>
        <option> Line </option>
        <option> Text </option>
    </select>
</label>
