<div class='file-tree'>
    <ul>
        <li> File 1 </li>
        <li> File 2 </li>
        <li> File 3 </li>
        <li> File 4 </li>
        <li> File 5 </li>
        <li> File 6 </li>
    </ul>
</div>
