<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title> NetBots Sandbox </title>
        <script defer src='{{ asset('assets/icons.js') }}' crossorigin="anonymous"></script>
        @entryPointStyles('app')
        @entryPointScripts('app')
    </head>
    <body>
        <div id='root'></div>
        @!component('components/editor-panel')
    </body>
</html>
