@use '../utilities/colors.scss' as colors;

.editor-wrapper {
    position: relative;

    & > .editor {
        z-index: 20;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }
}

.editor-settings {
    position: absolute;
    top: 0;
    left: 43px;
    bottom: 0;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    background-color: colors.$base-color;
    color: colors.$text-color;
    padding: 10px;
    overflow: auto;
    margin-bottom: 36px;
}

.drawer-vertical {
    cursor: col-resize;
    position: absolute;
    height: 100%;
    width: 7px;
    z-index: 1000;
    display: block;
    margin-right: -4px;
    transition: 0.3s;
    right: 0;

    &:hover {
        background-color: colors.$hover-color;
    }
}

.drawer {
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 300px;
    position: fixed;
    background-color: colors.$base-color;
}

.panel-grid {
    display: grid;
    grid-template-areas:
        "file-tree editor";
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    column-gap: 1px;
}

.drawer-rail {
    background-color: colors.$base-color-dark;
    border-bottom: 1px solid colors.$border-color;
    cursor: row-resize;
    display: flex;
    gap: 0;
    position: relative;
    z-index: 2;
}

.drawer-content {
    height: 100%;
}

.drawer-tab {
    border: 0;
    min-width: 98px;
    background-color: transparent;
}