@use '../utilities/colors.scss' as colors;

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: colors.$text-color;
    padding: 36px;
    margin: 36px;
    width: 100%;
    border-radius: 5px;

    & > .title {
        font-size: 2rem;
        border-bottom: 1px solid #d8d8d8;
        padding: 8px 0;
        margin: 8px 0;
    }

    &.border {
        border: 1px solid colors.$border-color;
    }

    &.shadow {
        box-shadow: 0px 0px 10px 1px #252525;
    }

    &.small {
        max-width: 415px;
    }
}