@use '../utilities/colors.scss' as colors;

.landing {
    color: colors.$text-color;
}

.content {
    max-width: 1420px;
    margin: 0 auto;
    padding: 30px 50px;
}

.home {
    height: 100vh;
    max-height: 100%;
    min-height: 250px;

    & > .header {
        line-height: initial;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        text-align: center;

        h1 {
            font-size: 96px;
        }

        @media screen and (max-width: 985px) {
            h1 {
                font-size: 48px;
            }
        }

        & > .actions {
            display: flex;
            column-gap: 16px;
            margin-top: 16px;
        }
    }
}

.about {
    background-color: colors.$base-color;
    padding: 60px 50px !important;

    & > section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;

        &:not(:last-child) {
            margin-bottom: 28px;
        }

        &:nth-child(even) {
            direction: rtl;

            & * {
                direction: ltr;
            }
        }

        & h2 {
            font-size: 34px;
            color: #ff7b72;
            line-height: normal;
        }

        & p {
            font-size: 18px;
            text-align: justify;
        }

        & div {
            display: flex;
            justify-content: center;
        }

        & div:nth-child(1) {
            flex-direction: column;
            row-gap: 18px;
        }

        & div:nth-child(2) {
            & > img {
                max-width: 100%;
            }
        }
    }

    @media only screen and (max-width: 985px) {
        & > section {
            grid-template-columns: 1fr;
            row-gap: 26px;
        }
    }
}

.home-background {
    width: 100%;
    background-color: colors.$base-color-dark;
}

.about-background {
    width: 100%;
    background-color: colors.$base-color;
}