@use '../utilities/colors.scss' as colors;

.landing {
    background-color: colors.$base-color-dark;
    color: colors.$text-color;
}

.content {
    max-width: 1420px;
    margin: 0 auto;
    padding: 30px 50px;
}

.home {
    height: 100vh;
    max-height: 100%;

    & > .header {
        line-height: initial;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;

        h1 {
            font-size: 96px;
        }

        & > .actions {
            display: flex;
            column-gap: 16px;
            margin-top: 16px;
        }
    }
}

.about {
    background-color: colors.$base-color;
    padding: 60px 50px !important;

    & > section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;

        &:not(:last-child) {
            margin-bottom: 28px;
        }

        &:nth-child(even) {
            direction: rtl;

            & * {
                direction: ltr;
            }
        }

        & h2 {
            font-size: 34px;
            color: rgb(245, 245, 245);
            line-height: normal;
        }

        & p {
            font-size: 18px;
            text-align: justify;
        }
    }
}

.about-background {
    width: 100%;
    background-color: colors.$base-color;
}