@use '../utilities/colors.scss' as colors;

.navbar-wrapper {
    max-width: 1420px;
    padding: 30px 100px;
    margin: 0 auto;
    width: 100%;
}

.navbar {
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    text-align: right;

    & > li {
        display: inline-block;
        text-align: center;
        margin: 0 4px;

        & a {
            text-decoration: none;
            color: colors.$text-color;
            border: 1px solid transparent;
            border-radius: 8px;
            padding: 2px 8px;
            text-align: center;

            &:hover {
                color: white;
            }

            &.active {
                border-color: colors.$text-color;
            }
        }
    }

    @media screen and (max-width: 767px) {
        display: none;

        & > li {
            display: block;
            margin: 20px 4px;
        }
    }
}

.menu-stack {
    float: right;

    @media screen and (min-width: 768px) {
        display: none;
    }
}