@use '../utilities/colors.scss' as colors;

.btn {
    border: 0;
    font-size: 16px;
    padding: 8px;
    background-color: colors.$base-color;
    color: colors.$text-color;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    & > i.fas {
        pointer-events: none;
    }

    &:hover {
        background-color: colors.$hover-color;
    }

    &:active {
        background-color: colors.$base-color-light;
    }

    &.active {
        background-color: colors.$base-color-light;
    }

    &.focused {
        background-color: colors.$hover-color;
    }

    &.round {
        border-radius: 3px;
    }

    &.round-top {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    &.round-bottom {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    &.small {
        padding: 4px;
        font-size: medium;
    }

    // Variants.
    &.danger {
        background-color: colors.$danger;
    }
}
