@use '../utilities/colors.scss' as colors;

.btn {
    border: 0;
    font-size: 16px;
    padding: 8px;
    background-color: colors.$base-color;
    color: colors.$text-color;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: colors.$hover-color;
    }

    &:active {
        background-color: colors.$base-color-light;
    }

    &.active {
        background-color: colors.$base-color-light;
    }

    &.round {
        border-radius: 3px;
    }

    &.small {
        padding: 4px;
        font-size: medium;
    }

    &.full-width {
        width: 100%;
        display: block;
    }
}
