$base-color: #3E3E4F;
$base-color-light: #5A5A6F;
$base-color-dark: #2B2D42;
$hover-color: #48485b;
$text-color: #CBCBCB;
$text-color-dark: #3E3E4F;
$background: #2F2F2F;
$border-color: #161926;
$danger: #C91847;
