@use '../utilities/variables.scss' as variables;

.codeflask {
    background-color: rgb(36, 40, 59);
    color: rgb(192, 202, 245);
    height: calc(100% - #{variables.$panel-drawer-height}) !important;
    width: -moz-available !important;
    width: -webkit-fill-available !important;
    width: stretch !important;

    pre {
        width: auto !important;
    }
}

.codeflask .token.punctuation {
    color: rgb(137, 221, 255);
}

.codeflask .token.keyword {
    color: rgb(187, 154, 247);
}

.codeflask .token.operator {
    color: #ff5598;
}

.codeflask .token.string {
    color: rgb(158, 206, 106);
}

.codeflask .token.comment {
    color: #9badb7;
}

.codeflask .token.function {
    color: rgb(122, 162, 247);
}

.codeflask .token.boolean {
    color: rgb(255, 158, 100);
}

.codeflask .token.number {
    color: rgb(255, 158, 100);
}

.codeflask .token.selector {
    color: #8500ff;
}

.codeflask .token.property {
    color: #8500ff;
}

.codeflask .token.tag {
    color: #8500ff;
}

.codeflask .token.attr-value {
    color: #8500ff;
}

.codeflask__lines {
    z-index: 5 !important;
    background-color: rgb(36, 40, 59);
    height: auto !important;

    & > .codeflask__lines__line {
        color: rgb(95, 105, 148);
    }
}

.codeflask.codeflask--has-line-numbers::before {
    background-color: rgb(36, 40, 59) !important;
}

.codeflask__textarea {
    color: transparent !important;
    caret-color: white !important;
}

.codeflask__flatten {
    font-size: inherit !important;
}
